<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include("../navBar/navBar", {pageName: `Student's Datas`}) %>
<body>
    <form action="/teachers/<%=data.id %>/edit" method="post">
        <div>
            <label for="">First name</label><br>
            <input type="text" name="first_name" id="" value="<%= data.first_name %>"><br>
        </div>
        <br>
        <div>
            <label for="">last name</label><br>
            <input type="text" name="last_name" id="" value="<%= data.last_name %>"><br>
        </div>
        <br>
        <div>
            <label for="">email</label><br>
            <input type="text" name="email" id="" value="<%= data.email %>"><br>
        </div>
        <br>
        <div>
            <select name="gender" id="" value="<%= data.gender %>"><br>
                <option value="male">male</option><br>
                <option value="female">female</option><br>
            </select>

        </div>
        <br>
        <div>
            <button type="submit" value="submit">submit</button>
        </div>
        <br>
    </form>
    
</body>
</html>
